.slider {
  padding: 0 0 5px;

  .slick-slide {
    img {
      height: auto;
      width: 100vh;
      padding: 2vh;
      object-fit: cover;
    }
  }

  // Fix selectable bug.
  &.is-admin {
    &:before {
      display: block;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 40px;
      position: absolute;
      z-index: 1;
    }
  }
}
